* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.mybox{
    border: 1px solid black;
    width: 700px;
    background: rgb(121, 221, 121);
}
.container{
    padding: 10px;
}
.bottom{
    display: flex;
}
.img{
    width: 200px;
}
h3{
    color: rgb(2, 44, 2);
    margin-top: 10px;
    margin-bottom: 20px;
}
.item{
    padding: 10px;
}

h4{
    font-size: 21px;
}
.item.item2{
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}
