* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
.mybox{
    width: 880px;
}
.title{
    color: green;
    font-weight: 600;
}
.container{
    padding: 20px;
}

.nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}
.bottom{
    display: flex;
    padding-top: 15px;
}
.left{
    width: 30%;
    margin-right: 25px;
}
h3{
    padding: 10px 0;
    width: 90%;
}
p{
    color: rgb(49, 47, 47);
    width: 85%;
}
.img-item{
    width: 70px;

}
.item{
    display: flex;
    justify-content: space-between;
    height: 95px;
    padding: 15px 0;
    border-bottom:1px solid black ;
}
.item.item4{
    border: none;
}
.right{
    padding-left: 25px;
    height: 100%;
    border-left: 1px solid rgb(53, 52, 52);
    width: 70%;
}

h4{
    width: 70%;
    font-size: 20px;
}




