* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.mybox{
    width: 400px;
    background-color: rgb(176, 185, 199);
}
.img{
    width: 360px;
}
h2{
    color: rgb(7, 121, 214);
    padding-bottom: 10px;
}

.boder{
    padding: 20px;
    border-top: 2px solid blue;
}
.nav ul{
    list-style: none;
    display: flex;
    font-size: 20px;
    margin-bottom: 15px;
}
.nav li a{
    padding: 0 10px;    
}
.nav li .choose.firstfirst{
    padding-left: 0;
}
.nav li .choose {
    border-right: 1px solid black;
}
.titel{
    padding: 20px 0;
    font-size: 20px;
}
.notice{
    color: rgb(31, 30, 30);
    padding-bottom: 20px;
    font-size: 18px;
}
.choosen ul {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}

.choosen li {
    margin-bottom: 10px;
}